*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    margin:  3rem auto;
    padding: 1rem;
    max-width: 600px;
}

.addtodo {
    display:flex;
    margin-right: auto;
    margin-bottom: 1rem;
    margin-left: auto;
    max-width: 300px;
}

#todo-name {
    width: 14em;
    padding: 10px;
    border-radius: 20px;
}

.add-todo input{
    height: 2rem;
    border-radius: 4px;
    margin-right: 1rem;
}

.todo-btn{
    padding: 10px;
    margin-left: 20px;
    border-radius: 20px;
    
}



.todo-list{
    padding: 2rem;
    border-radius: 1rem;
    background-color: lightgray;
    list-style: none;
}

.todo-item{
    display: flex;
    justify-content: space-between;
    padding: .5em;
    border-bottom:  2px solid grey;
}

.todo-item:hover{
    background-color: white;
    cursor: pointer;
}

.todo-item .btn-delete{
    padding: .5em;
    background-color: transparent;
    border: none;cursor: pointer;
}


.done{
    text-decoration: line-through;
}









